{% extends 'base.html.twig' %}
{# le template index.html.twig herite de notre gabri de base 'base.html.twig' (header + footer +lien css etc..#}
{% block title %}Blog Symfony | liste des Articles!{% endblock %}

{# le blc body fait reference au boc de body declare dans le fichier de base.html.twig #}
{# le contenu du bloc body est envoyer dans le bloc du fichier bas.html.twig #}
{% block body %}
<h1 class="display-4 text-center my-4">Liste des articles </h1>

<div class="row d-flex justify-content-center">
      <div class="col-md-3 border border-secondary rounded mr-1 mb-1">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div> 

      <div class="col-md-3 border border-secondary rounded mr-1 mb-1">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div> 

       <div class="col-md-3 border border-secondary rounded mr-1 mb-1">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>  

      <div class="col-md-3 border border-secondary rounded mr-1 mb-1">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>  
{% endblock %}
